.outfit-uniquifier {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
    font-family: "Outfit";
    background-color: #d6e2f0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
 
}
main{
background-color: white;
width: 500px;
margin: auto;
justify-content: center;
align-items: center;
border-radius: 25px;
}

#title{
    color: #1f3251;
}

#sub{
    color: #68778d;
}

.image{
    width: 450px;
    display: flex;
    justify-self: center;
    padding: 25px;
    border-radius: 10%;
}

#content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 40px;
}

#sub{
    font-size: 22px;
}

#title{
    height: 60px;
}